/*Global Styles*/
.title {
    font-family: 'Alfa Slab One', cursive;
    color: white;
}
.card-text {
    color: #9B9B9B;
}
.nav-link {
    padding: 5px 10px!important;
    color: white!important;
}
.nav-link:hover, .nav-item .active {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    color: #333!important;
}
button {
    padding: 10px 25px!important;
    margin-top: 30px!important;
}
button.navbar-toggler {
    margin: 0!important;
    padding: .25rem .75rem!important;
}
.btn-success {
    background-color: #78BF86;
    border-color: #78BF86;
}
.btn-success:hover {
    background-color: #59A568;
    border-color: #59A568;
}
.btn-info {
    background-color: #799AD1;
    border-color: #799AD1;
}
.btn-info:hover {
    background-color: #607FB2;
    border-color: #607FB2;
}
.social-media {
    width: 130px;
}
.fb, .tw, .pi {
    padding: 0;
}
.fa-facebook-f, .fa-twitter, .fa-pinterest-p {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: white;
    font-size: 20px;
    border-radius: 100px;
    padding: 7px;
    margin: 0;
}
.fa-facebook-f {
    background-color: #4267B2;
}
.fa-twitter {
    background-color: #1DA1F2;
}
.fa-pinterest-p {
    background-color: #BD081C;
}
.w-80 {
    display: inline-block!important;
    width: 80%!important;
}

/*Navbar*/
.navbar {
    background-color: transparent;
    position: absolute;
    z-index: 1;
    display: block;
}
.navbar .navbar-brand, .navbar .nav-link {
    color: #0E0E0E!important;
}
.navbar .nav-link {
    font-weight: bold;
}
#heart {
    font-size: 1.75rem;
    color: #0E0E0E;
}
.navbar .nav-link:hover {
    display: inline-block;
    background-color: #0E0E0E;
    border-radius: 10px;
    color: white!important;
}

/*Carousel*/

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.i1, .i2, .i3 {
   height: 500px;
   padding: 30px 0 75px 0;
   object-fit: contain;
}
.i1 {
    background-color: #91ACD9;
}
.i2 {
    background-color: #624E42;
}
.i3 {
    background-color: #8BE1F0;
}

/*Services*/
#services {
    max-width: 1300px;
    margin: 0 auto;
}
#services > div {
    max-width: 500px;
}
#services h1 {
    font-size: 16px;
    margin: 20px;
}
#services img {
    height: 150px;
    object-fit: contain;
}
.i6 {
    background-color: #2ECC71;
}
.i4 {
    background-color: #94A4A5;
}

/*Portfolio*/
#portfolio {
    background-color: #97D0A3;
    color: white;
}
#portfolio .nav {
    margin: 10px 0;
}
#portfolio .nav-item {
    display: inline-block;
    width: 32%;
    margin-top: 10px;
}
#portfolio img {
    height: 200px;
    object-fit: cover;
    margin: 20px 0;
}

/*Templates*/
#templates {
    background-color: #F0F0F0;
    color: #333;
    padding: 20px 0;
}
#templates .row > div {
    margin: 50px 0;
}
#templates hr {
  border: 0.5px solid #E0DEDE;
  background-color: #E0DEDE;
  width: 100%;
}
#templates h1 {
    font-size: 20px;
}
.r {
    position: relative!important;
}

/*Team*/
#team {
    background-color: #E2B7C8;
    color: white;
}
#team .row {
    color: black;
}
#team .card {
    margin-top: 30px;
}
#team .card-text {
    display: inline-block;
    height: 100px;
}

/*Blog*/
#blog {
    background-color: #B3D3DE;
    color: white;
}
#blog .row {
    color: black;
}
#blog .card {
    margin-top: 30px;
}
#blog img {
    height: 200px;
    object-fit: cover;
}

/*Contact*/
#contact {
    background-color: #3C3C3C;
    color: white;
}
#contact form {
    max-width: 750px;
}

/*Footer*/
footer {
    background-color: #3C3C3C;
    color: white;
}
footer hr {
  border: 0.5px solid #333;
  background-color: #333;
  width: 100%;
  max-width: 750px;
  margin: 0;
  padding: 0!important;
}
footer .fa-facebook-f, footer .fa-twitter, footer .fa-pinterest-p {
    color: #3C3C3C;
    background-color: #4C4C4C;
}

/*Tablet View*/
@media (max-width: 992px) {
    #services > div {
        margin: 20px;
    }
    .navbar {
        position: static;
        background-color: #f3f3f3;
    }
    .i1, .i2, .i3 {
        padding: 0;
    }
    #team .card-img-top {
        width: 30%!important;
    }
    #blog img {
        height: 150px;
    }
}

/*Mobile View*/
@media (max-width: 800px) {
    .i1, .i2, .i3 {
        height: 300px;
        padding-bottom: 10px;
    }
}
@media (max-width: 768px) {
    #templates .row > div {
        margin: 10px;
    }
}
@media (max-width: 500px) {
    .i1, .i2, .i3 {
        height: 200px;
        padding-bottom: 10px;
    }
}
@media (max-width: 450px) {
    #portfolio .nav-link {
         font-size: 0.9rem;
         padding: 0px;
    }
    #portfolio .nav-item {
        width: 50%;
    }
}